/* Importing Google Fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#EEEEFF, #C8C7FF);
}

#chatbot-toggler {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #5350C4;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 35px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.show-chatbot #chatbot-toggler {
    transform: rotate(90deg);
}

#chatbot-toggler span {
    color: #fff;
    position: absolute;
}

#chatbot-toggler span:last-child,
body.show-chatbot #chatbot-toggler span:first-child {
    opacity: 0;
}

body.show-chatbot #chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot-popup {
    width: 420px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden; /* Đảm bảo child elements không vượt ra ngoài border-radius */
    position: fixed;
    bottom: 90px;
    right: 35px;
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.2s ease;
}

body.show-chatbot .chatbot-popup {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 22px;
    background: #5350C4;
}

.chat-header .header-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-info .chatbot-logo {
    width: 36px;
    height: 36px;
    font-size: 24px;
    /* Đảm bảo icon có kích thước phù hợp */
    padding: 6px;
    /* icon 24px, padding 2 bên 12px -> icon sẽ nằm giữa */
    color: #5350C4;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-info .logo-text {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02rem;
}

.chat-header #close-chatbot {
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 24px;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
    /* Smooth hover effect */
}

.chat-header #close-chatbot:hover {
    background: #3d39ac;
}

.chat-body {
    padding: 25px 22px;
    height: 460px;
    margin-bottom: 82px;
    overflow-y: auto;
    /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    gap: 20px;
    scrollbar-width: thin;
}

.chat-body .message {
    display: flex;
    align-items: center;
    /* Vertically center the content */
    gap: 10px;
}

.message .bot-avatar {
    width: 36px;
    height: 36px;
    padding: 6px;
    font-size: 24px;
    color: #fff;
    background: #5350C4;
    border-radius: 50%;
}

.chat-body .message .message-text {
    padding: 12px 16px;
    max-width: 75%;
    font-size: 0.95rem;
}

.chat-body .bot-message .message-text {
    background: #F2F2FF;
    border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;
}

.chat-body .user-message .message-text {
    color: #fff;
    background: #5350C4;
    border-radius: 13px 13px 3px 13px;
}

.chat-body .user-message .attachment {
    width: 50%;
    margin-top: -7px;
    border-radius: 13px 3px 13px 13px;
}

.chat-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 15px 22px;
}

.chat-footer .chat-form {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    border-radius: 32px;
    border: 1px solid #CCCCE5;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    transition: 0s ease, border-radius 0s; */
}

.chat-form:focus-within {
    outline: 2px solid #5350C4;
}

.chat-form .message-input {
    width: 100%;
    height: 47px;
    outline: none;
    resize: none;
    border: none;
    max-height: 180px;
    scrollbar-width: thin;
    border-radius: inherit;
    font-size: 0.95rem;
    padding: 14px 0 12px 18px;
    /* Top Right Bottom Left, 14+12=26px -> để canh giữa dọc  */
    scrollbar-color: transparent transparent;
}

.chat-form .chat-controls {
    gap: 3px;
    height: 47px;
    display: flex;
    padding-right: 6px;
    align-items: center;
    align-self: flex-end;
}

.chat-form .chat-controls button {
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    color: #706DB0;
    border-radius: 50%;
    font-size: 1.15rem;
    background: none;
    transition: 0.2s ease;
}

.chat-form .file-upload-wrapper {
    position: relative;
    height: 35px;
    width: 35px;
}

.chat-form .file-upload-wrapper :where(button, img) {
    position: absolute;
}

.chat-form .file-upload-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-radius: 50%;
}

.chat-form .file-upload-wrapper #file-cancel {
    color: #ff0000;
    background: #fff;
}

.chat-form .file-upload-wrapper :where(img, #file-cancel),
.chat-form .file-upload-wrapper.file-uploaded #file-upload {
    display: none;
}

.chat-form .file-upload-wrapper.file-uploaded img,
.chat-form .file-upload-wrapper.file-uploaded:hover #file-cancel {
    display: block;
}

em-emoji-picker {
    position: absolute;
    left: 50%;
    top: -337px;
    width: 100%;
    max-width: 350px;
    visibility: hidden;
    max-height: 330px;
    transform: translateX(-50%);
}

body.show-emoji-picker em-emoji-picker {
    visibility: visible;
}

.chat-form .chat-controls #send-message {
    color: #fff;
    display: none;
    background: #5350C4;
}

.chat-form .chat-controls #send-message:hover {
    background: #3d39ac;
}

/* Show send button only when input is valid (not empty) */
.chat-form .message-input:valid~.chat-controls #send-message {
    display: block;
}

.chat-form .file-upload-wrapper {
    position: relative;
    height: 35px;
    width: 35px;
}

/* Responsive media query for mobile screens */
@media (max-width: 520px) {
    #chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot-popup {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }

    .chatbot-popup .chat-header {
        padding: 12px 15px;
    }

    .chat-body {
        height: calc(90% - 55px);
        padding: 25px 15px;
    }

    .chat-footer {
        padding: 10px 15px 15px;
    }

    .chat-form .file-upload-wrapper.file-uploaded #file-cancel {
        opacity: 0;
    }
}